.site-header .navbar-nav .nav-link {
    color: #3fb5f9;
    position: fixed;
    top: 10px;
    right: 30px;
    padding: 10px;
    border-radius: 5px;
}

.user-info {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.bg-steel {
    background-color: #3fb5f9;
}

body {
    background: white;
    color: #333333;
    margin-top: 5rem;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.image-container {
    width: 48%;
    padding: 10px;
}
.text-container {
    width: 48%;
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
@media (max-width: 600px) {
    .image-container, .text-container {
        width: 100%;
    }
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd
  }
  
  
  th {
    background-color: #3fb5f9;
    color: white;
    border: 1px solid #ddd
  }

